// Color Variables
$primary-color          : #16A086;
$white-color            : #FFFFFF;
$gray-color             : #ababab;
$text-content-color     : #5D5D5D;
$button-background-color: #212121;
$body-background-color  : #151515;
$black-color            : #000000;

// Light Theme Color Variables
$light-body-background-color  : #E4E4E4;
$light-button-background-color: #C9C9C9;
$light-navbar-text-color      : #A1A1A1;
$light-text-content-color     : #8c8c8c;
$light-title-color            : #8c8c8c;
$light-active-color           : #5D5D5D;


// Border Variables
$border-radius: .3rem;